.container {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: 0 0 50px 0;
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
    margin: 0 0 5px 0;
    height: 400px;
  }
}