.logo {
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-left: 100px;
}

.nav-link {
  font-size: 19px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.text {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: 25px;
  }

  .navbar {
    margin-top: 10px;

  }

  .sh {
    font-size: 28px;
  }

}